<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to my Volleyball Statistics Site!</h1>
    <p>This website provides various statistics about the 2020 Men's Volleyball Nations League.</p>
    <ul>
        <li><a href="/attackersfaults/">View Attacker Faults Statistics</a></li>
        <li><a href="/attackersspikes/">View Attacker Spikes Statistics</a></li>
        <li><a href="/blockersrebounds/">View Blocker Rebounds Statistics</a></li>
        <li><a href="/blockersstuffblocks/">View Blocker Stuff Blocks Statistics</a></li>
        <li><a href="/diggersfaults/">View Digger Reception Faults Statistics</a></li>
        <li><a href="/diggersreception/">View Digger Reception Statistics</a></li>
        <li><a href="/receiversservereception/">View Receivers Serve Reception Statistics</a></li>
        <li><a href="/receiverstotalattempts/">View Receivers Total Attempts Statistics</a></li>
        <li><a href="/serversaces/">View Servers Ace Statistics</a></li>
        <li><a href="/serversfaults/">View Servers Faults Statistics</a></li>
        <li><a href="/settersrunningsets/">View Setters Running Sets Statistics</a></li>
        <li><a href="/settersstillsets/">View Setters Still Sets Statistics</a></li>
    </ul>
</body>
</html>
